<form action="/api/messages" method="post">
    first name: <input type="text" name="first_name">
    last name: <input type="text" name="last_name">
    email: <input type="email" name="email">
    message: <input type="text" name="message">
    <button type="submit">Enviar</button>
</form>