<form action="/api/sessions/login" method="post">
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <button type="submit">Login</button>
</form>

<button onclick="location.href='/api/sessions/auth/github'">LOGIN WITH GITHUB</button>