<h3>Testing View</h3>

<form id="form">
    <p>Nombre</p>
    <input type="text" name="nombre" id="nombre">
    <input type="submit" value="Enviar">
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>