<form action="/api/products" method="post">
    <p>Title</p>
    <input type="text" name="title" id="title">
    <p>Description</p>
    <input type="text" name="description" id="desc">
    <p>Price</p>
    <input type="text" name="price" id="price">
    <p>Thumbnails</p>
    <input type="text" name="thumbnail" id="thumb">
    <p>Code</p>
    <input type="text" name="code" id="code">
    <p>Stock</p>
    <input type="text" name="stock" id="stock">
    <p>Admin</p>
    <label>
        <input type="checkbox" id="cbox1" value=1 />
        Si
    </label>
    <label for="cbox2">
        <input type="checkbox" id="cbox2" value=2 />
        No
    </label>

    <input type="submit" value="Add Product">

</form>

